<html>
    <head>
        <title>
            Next Generation Genomics: World Map of High-throughput Sequencers
        </title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{static_path}}/css/all.css?{{ static_version }}">
        <script type="text/javascript" src="{{static_path}}/js/jquery.all.js?{{ static_version }}"></script>
        <script type="text/javascript"
            src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ google_api_key }}&sensor=false"></script>
        <script type="text/javascript" src="{{static_path}}/js/labeledmarker.js?{{ static_version }}"></script>
        <script type="text/javascript" src="{{static_path}}/js/markerclusterer.js?{{ static_version }}"></script>

        <style type="text/css">
            .markerlabel {
                font-size: 11px;
                font-family: Arial,sans-serif;
                font-weight: bold;
                text-align: center;
                width: 26px;
                letter-spacing: 0px;
            }

            #centrelist {
                font-size: 12px;
                font-family: Arial;
            }

            ul {
                list-style-type: square;
            }

            li {
                margin: 0px;
                padding: 0px;
            }

            .infowindow {
                width: 300px;
                height: 125px;
                font-family: Arial;
            }

            a {
                text-decoration: none;
            }

            div {
                font-family: Arial;
            }

            #control {
                font-size: 12px;
            }

            #title {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 40px;
                background-color: #cccccc;
            }

            #main {
                position: absolute;
                top: 41px;
                height: 40px;
                left: 0px;
                width: 100%;
            }

            #footer {
                top: 680px;
                margin: 10px;
            }
        </style>
        <script type="text/javascript">
            var map;
            var mcOptions = {gridSize: 20, maxZoom: 10};
            var icon = new GIcon(G_DEFAULT_ICON);
            var clickPos;
            var clusterer;
            var centres;

            icon.image = "http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=FFFFFF,008CFF,000000&ext=.png";
            /* icon.image = "{{static_path}}/img/marker.png"; */
            /* icon.image = 'http://uwmike.com/maps/manhattan/img/red-marker.png'; */
            icon.iconSize = new GSize(24, 32);
            icon.iconAnchor = new GPoint(16, 16);
            icon.infoWindowAnchor = new GPoint(25, 7);

            function html_for_window(c) {
                return "<div class='infowindow'> \
                           <a href=\"/centres/" + c.slug + "/\">" + c.name + "</a>" +
                           "<br/>" + 
                           c.loc +
                           "<br/>" +
                           c.capacity_summary +
                           "<br/>" +
                           "<a href=\"/centres/" + c.slug + "/\">More information about this centre</a>" +
                           "<br/>" +
                           "<a href='#' onClick=\"javascript:zoomTo('" + c.slug + "')\">Zoom to this centre</a>" +
                       "</div>";
            }

            function createMarker(icon, d) {
                var latlng = new GLatLng(d.lat, d.long);
                var marker = new LabeledMarker(latlng, {icon: icon, "clickable": true, "labelText": d.n, "labelOffset": new GSize(-17, -14)});
                marker.machine_count = d.n;
                marker.centre = d;
                var html = html_for_window(d);

                GEvent.addListener(marker, 'click', function() {
                    marker.openInfoWindowHtml(html);
                });
                return marker;
            }

            function addcenter() {
                window.location.replace("{% url 'add-centre' %}" + "?lat=" + clickPos.lat() + "&long=" + clickPos.lng());
            }

            function findMarker(c) {
                clusters = clusterer.getClustersInViewport_();
                for(var i = 0; i < clusters.length; i++) {
                    markers = clusters[i].getMarkers();
                    for(var j = 0; j < markers.length; j ++) {
                        if(c.slug == markers[j].marker.centre.slug) {
                            return markers[j].marker;
                        }
                    }
                }
            }

            function centre_on(c) {
                /* marker = findMarker(c); */
                /* or click? */
                /* add a temporary marker? */

/*                var transIcon = new GIcon(G_DEFAULT_ICON);
                transIcon.image = "http://www.google.com/intl/de_ALL/mapfiles/transparent.png";

                marker = new GMarker(new GLatLng(c.lat, c.long), {icon:transIcon});

                map.addOverlay(marker);
                
                marker.openInfoWindowHtml('hello there');
*/
                map.openInfoWindowHtml(new GLatLng(c.lat, c.long), html_for_window(c));
            }

            function zoomTo(slug) {
                window.alert('zoom to + ' + slug);
            }

            function find_centre(slug) {
                for(var i = 0; i < centres.length; i ++) {
                    if(centres[i].slug == slug) {
                        return centres[i];
                    }
                }
            }

            function zoomTo(slug) {
                c = find_centre(slug);
                p = new GLatLng(c.lat, c.long);
                map.setCenter(p);
                map.setZoom(10);
            }

            function find_and_centre_on(slug) {
                c = find_centre(slug);
                centre_on(c);
                return 0;
            }

            function update_list() {
                bounds = map.getBounds();

                $('#centrelist').html('');

                for(var i = 0; i < centres.length; i ++) {
                    if(bounds.containsLatLng(new GLatLng(centres[i].lat, centres[i].long))) {
                        $("<a>").attr('href', '#').attr("id", centres[i].slug).html(centres[i].name).bind('click', function() {
                            c = find_centre($(this).attr('id'));
                            centre_on(c);
                        }).appendTo("#centrelist");
                        $("#centrelist").append("<br/>").append(centres[i].loc);
                        $("<br>").appendTo("#centrelist");
                        /* $('#centrelist').append('<a>') + centres[i].name); */
                    }
                }
            }

            function add_map_data() {
                var markers = [];
                for (var i = 0; i < centres.length; ++i) {
                    markers.push(createMarker(icon, centres[i]));
                }
                clusterer = new MarkerClusterer(map, markers, mcOptions);

                update_list();
            }

            function initialize(data) {
                var mapOptions = { googleBarOptions : { style : "new" } };
 
                map = new GMap2(document.getElementById('map'), mapOptions);

                map.setCenter(new GLatLng(24.5271348, 15.8203125), 2);
                
                map.addControl(new GLargeMapControl());
                map.addControl(new GMapTypeControl());

                map.enableGoogleBar();

                var contextmenu = document.createElement("div");
                contextmenu.style.visibility = "hidden";
                contextmenu.style.background = "#ffffff";
                contextmenu.style.border = "1px solid #8888FF";
                contextmenu.style.margin = "5px";

                contextmenu.innerHTML = '<a href="javascript:addcenter()"><div class="context">&nbsp;&nbsp;Add a new centre&nbsp;&nbsp;</div></a>';

                map.getContainer().appendChild(contextmenu);

                GEvent.addListener(map,"rightclick",function(pixel,tile) {
                    clickedPixel = pixel;
                    var x=pixel.x;
                    var y=pixel.y;
                    clickPos = map.fromContainerPixelToLatLng(pixel);
                    if (x > map.getSize().width - 120) { x = map.getSize().width - 120 }
                    if (y > map.getSize().height - 100) { y = map.getSize().height - 100 }
                    var pos = new GControlPosition(G_ANCHOR_TOP_LEFT, new GSize(x,y));  
                    pos.apply(contextmenu);
                    contextmenu.style.visibility = "visible";
                });

                GEvent.addListener(map, "click", function() {
                    contextmenu.style.visibility = "hidden";
                });

                centres = data.centres;
                add_map_data();

                GEvent.addListener(map, "moveend", function () {
                    update_list();
                });
            }

            function hello( name, loc ) {
                loc = "@" + loc;
                loc = name + loc;
                loc = "mailto:" + loc;
                window.location = loc;
            }

            function refreshmap() {
                if(clusterer != null) {
                    clusterer.clearMarkers();
                }

                url = '{% url 'capabilities-json-data' %}?cachebust&platform=';
                $('.platformselector').each(function (i) {
                    if(this.checked) {
                        url = url + this.value + ',';
                    }
                });
                url = url + '&mode=AND';

                $.getJSON(url, function(data) {
                    centres = data;
                    add_map_data();
                });
            }

            function set_map_centre(c) {
                bnds = new GLatLngBounds(new GLatLng(c.sw_lat, c.sw_long), new GLatLng(c.ne_lat, c.ne_long));
                map.setCenter(bnds.getCenter());
                map.setZoom(map.getBoundsZoomLevel(bnds));
            }

            function bind_platforms() {
                $('.platformselector').attr('checked', 0).bind('click', function() {    
                    platform_selected();
                });
            }

            function reset_platforms() {
                $('.platformselector').unbind('click');
                $('.platformselector').attr('checked', 1);
                $('#everything').attr('disabled', 1);
                $('#everything').unbind('click');
                bind_platforms();
                refreshmap();
            }

            function platform_selected() {
                $('#everything').attr('disabled', 0).attr('checked', 0).bind('click', function() {
                    reset_platforms();
                });
                refreshmap();
            }

            $(document).ready(function() {
                $.getJSON('{% url 'json-data' %}?cachebust', function(data) {
                    initialize(data);
                    $('#countrylist').change(function() {
                        set_map_centre(data['countries'][$(this).val()]);
                    });
                });

                bind_platforms();
                $('#everything').attr('checked', 1);
            });
        </script>
    </head>
    <body onunload="GUnload()">
        <div id="title">
        <div style="float: right; font-size: 18px; margin: 8px;">
            <a href="{% url 'stats' %}">Machine Statistics</a>
        </div>
        <h1>Next Generation Genomics: World Map of High-throughput Sequencers</h1>
        </div>
        <div id="main">
            {% regroup centres by country as country_list %}
            <div id="control">
                        <input type="checkbox" id="everything" disabled=1 checked> Show all platforms
                        {% for p in platforms %}
                            <input type="checkbox" class="platformselector" value="{{ p.id }}"> {{ p.short_name }}
                        {% endfor %}
                        <input type="checkbox" class="platformselector" value="service"> Service Provider
                        <span style="float: right;">
                        Jump to country
                        <select id="countrylist">
                            <option>--
                            {% for country in country_list %}
                            <option>{{country.grouper}}
                            {% endfor %}
                        </select>
                        </span>
            </div>
            <div style="clear: both;"></div>
            <div id="rightbar" style="width: 19%; border-left: 1px black dotted; padding-left: 5px; float: right; height: 600px; overflow: auto">
                <input type="button" value=" Add New Facility " style="width: 100%; height: 40px; font-face: Georgia; font-size: 20px;"
                    onClick="window.alert('To add a facility, find the location on the map and then right-click / shift-click at that position and select \'Add a new centre\'');">
                <div id="centrelist">
                </div>
            </div>
            <div id="map" style="margin-left: 5px; width: 80%; height: 600px"></div>
            <div style="margin: 10px;">
                <p>Recently added centres:
                     {% for c in recent %}
                     <a onClick="find_and_centre_on('{{ c.slug }}')" href="#">{{ c }}</a>{% if not forloop.last %}, {% endif %}
                     {% endfor %}
                </p>
            </div>
            {% include "footer.html" %}
        </div>
        <noscript>
            {% for c in recent %}
                <a href="{% url 'centre' c.slug %}">{{ c }}</a>
            {% endfor %}
        </noscript>
    </body>
</html>
