<html>
    <head>
        <title>Pending Updates</title>
        <style type="text/css">
            td {
                font-family: Courier;
            }
        </style>
    </head>
    <body>
    <ul>
    {% for u in updates %}
        <li>{{ u }} ({{ u.update_type }}) {{ u.ip_address }} {{ u.email_address }} {{ u.date_created }}
        <table>
                {% for ln in u.compare %}
                <tr>
                    <th>
                        {{ ln.field }}
                    </th>
                    <td>
                        {{ ln.old }}
                    </td>
                    <td>
                        {% if ln.changed %}<font color="red">{% endif %}
                        {{ ln.new }}<br/>
                        {% if ln.changed %}</font>{% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <th>
                        machines
                    </th>
                    <td>
                        {% for cc in u.update_to.centrecapacity_set.all %}
                            {{ cc.platform }} -&gt; {{ cc.number_machines }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for cc in u.pendingcentrecapacity_set.all %}
                            {{ cc.platform }} -&gt; {{ cc.number_machines }}
                        {% endfor %}
                    </td>
                </tr>
        </table>
        <input type="button" onclick="javascript:window.location.replace('{% url approve-pending u.id %}')" value="Approve">
        <input type="button" onclick="javascript:window.location.replace('{% url delete-pending u.id %}')" value="Delete">

    {% endfor %}
    </ul>
    </body>
</html>
    
