<html>
	<head>
		<title>
		</title>
	</head>
	<body>
		<h1>next gen sequencers</h1>
		<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=105818748019109863589.00046217bff07919c1e07&amp;ll=43.755706,-2.883321&amp;spn=0.00372,0.006866&amp;z=17&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=105818748019109863589.00046217bff07919c1e07&amp;ll=43.755706,-2.883321&amp;spn=0.00372,0.006866&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">Genomics: NextGen sequencers; Illumina (Solexa), ABI SOLiD, Roche/454. Microarrays: Illumina BeadStation, Affymetrix</a> in a larger map</small>
	</body>
</html>
